<header class="text-center py-14 md:py-16 mb-5">
  <h1
    class="text-5xl md:text-7xl lg:text-8xl font-extrabold leading-none tracking-tight mb-6 lg:px-5 dark:text-white"
  >
    The
    <span class="text-highlight">Moroccan</span>
    PHPers community
  </h1>
  <div class="max-w-4xl lg:max-w-6xl mx-auto">
    <p class="mb-10 text-xl text-gray-600 dark:text-gray-400">
      {{ about.description }}
    </p>
    <div class="flex flex-wrap justify-center gap-4">
      <app-button variant="secondary" routerLink="/about">About us</app-button>
      <app-button
        variant="secondary"
        (click)="
          challengesSection.element.nativeElement.scrollIntoView({
            behavior: 'smooth'
          })
        "
      >
        <ngaox-icon name="grid" class="mr-2 w-5 h-5"></ngaox-icon>
        Explore Challenges
      </app-button>
    </div>
  </div>
</header>

<app-hr [isVertical]="true"></app-hr>

<app-section
  #challengesSection
  title="Level up your skills"
  description="Enhance your back-end and systems design skills with our curated list of challenges."
>
  <div class="text-center grid gap-4 md:grid-cols-2 xl:grid-cols-3">
    <app-challenge-card
      [challenge]="challenge"
      *ngFor="let challenge of challenges$ | async"
    ></app-challenge-card>
  </div>
</app-section>

<app-hr [isVertical]="true"></app-hr>

<app-leaderboard></app-leaderboard>

<app-hr [isVertical]="true"></app-hr>

<app-section
  title="Moderators"
  description="All the amazing things provided by Moroccan PHPers would not be possible without the help and passion of this awesome group of developers."
>
  <div class="grid gap-4 xl:grid-cols-2">
    <app-user-card
      class="max-w-2xl mx-auto"
      *ngFor="let moderator of moderators$ | async"
      [user]="moderator"
    ></app-user-card>
  </div>
</app-section>
